<!DOCTYPE html>


<head>
    <title>Mypetition</title>

    <title>MyPetition</title>



    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/superfish.css">

     <link rel="stylesheet" href="css/style.css">


    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/main.js"></script>
    <script src="js/respond.min.js"></script>


    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body >

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <header id="fh5co-header-section">
                <div class="container">
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                        <h1 id="fh5co-logo"><a href="/homepage"><font size="6px">Mypetition</font></a></h1>

                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li><a href="/petitions">Petitions </a></li>
                                <li><a href="/new">Create</a></li>

                                <li><a href="/contact">Contact Us </a></li>


                                <%if(!currentUser){%>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/signup">Signup</a></li>
                                <%}else {%>
                                <li><a><span class="glyphicon glyphicon-user"><%=currentUser.username%></span></a></li>
                                <li><a href="/logout">Logout</a></li>
                                <%}%>

                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

        </div>


        <div class="fh5co-hero">
            <div class="fh5co-overlay"></div>
            <div class="fh5co-cover text-center" data-stellar-background-ratio="0.4" style="background-image: url(images/banner.jpg);">
                <div class="desc animate-box">
                    <h2>Need for a change</h2>
                    <span>Because your voice counts</span>

                    <span><a class="btn btn-primary" href="/new"><font color="#f8f8ff" size="3px" style="font-weight: bold">Create a new petition</font></a></span>
                </div>
            </div>

        </div>
    </div>
<center><h2 style="margin-top: 20px">Recent Petitions</h2></center>
    <div id="main">
        <%for(var i=petition.length-1;i>=petition.length-5&&i>=0;i--){%>

        <%if(i%2==0){%>
        <section class="wrapper style1">
            <div class="inner">
                <!-- 2 Columns -->
                <div class="flex flex-2">
                    <div class="col col1">
                        <div class="image round fit">
                            <a href="/<%=petition[i]._id%>" class="link"><img src="<%=petition[i].image%>" alt="" /></a>
                        </div>
                    </div>
                    <div class="col col2" >
                        <h3><%=petition[i].title%></h3>
                        <%=petition[i].description%>
                        <a href="/<%=petition[i]._id%>" class="button">Read More</a>
                    </div>
                </div>
            </div>
        </section>
<%}%>
        <!-- Section -->
        <%if(i%2!=0){%>
        <section class="wrapper style2">
            <div class="inner">
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3><%=petition[i].title%></h3>

                        <%=petition[i].description%>

                        <a href="/<%=petition[i]._id%>" class="button">Read More</a>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="/<%=petition[i]._id%>" class="link"><img src="<%=petition[i].image%>" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<%}%>
<%}%>


        <footer>
            <div id="container">
                <div class="container">
                    <div class="row" >
                        <div class="col-md-6 col-md-offset-3 text-center" style="margin: 0 220px">
                           <center> <p class="fh5co-social-icons" style="margin-top: 20px;">
                                <a href=" https://twitter.com/mypetitionorg" style="color: steelblue"><i class="icon-twitter2"></i></a>
                                <a href=" https://www.facebook.com/mypetitionorg/" style="color: steelblue"><i class="icon-facebook2"></i></a>
                                <a href=" https://www.instagram.com/mypetitionorg/" style="color: steelblue"><i class="icon-instagram"></i></a>
                                <a href="https://mypetitionorg@gmail.com" style="color: steelblue"><i class="icon-mail"></i></a>
                                <a href="https://www.youtube.com/channel/UCIJ6xKuLDf5hffqdDb-RJ1A" style="color: steelblue"><i class="icon-youtube"></i></a>
                            </p></center>
                            <p>Copyright 2018 &copy <a href="/homepage" style="color: #009900">Mypetition</a>. All Rights Reserved. </p>                        </div>
                    </div>
                </div>
            </div>
        </footer>


    </div>
</div>

</body>
</html>